/* Hide new tab button */
.newtab {
  display: none;
}

/* Hide traffic light buttons macOS */
#tabs-container.top {
  padding-left: 5px !important;
}
.window-buttongroup {
  display: none !important;
}

/* Hide active tab favicon highlight */
.tab.active .favicon {
  filter: none !important;
}

/* Hide tracking status */
#main
  > div.UrlBar.toolbar.toolbar-mainbar.toolbar-large
  > div.UrlBar-AddressField
  > div:nth-child(1) {
  display: none;
}

/* Hide dropdown */
#main
  > div.UrlBar.toolbar.toolbar-mainbar.toolbar-large
  > div.UrlBar-AddressField
  > div:nth-child(6) {
  display: none;
}

/* Hide bookmarks button */
#main
  > div.UrlBar.toolbar.toolbar-mainbar.toolbar-large
  > div.UrlBar-AddressField
  > div.BookmarkButton {
  display: none;
}

/* hide tiling border */
.mosaic-tile {
    margin: 3px;
}
.tiled.webpageview {
    box-shadow: none;
}

